/* Reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* colors  */
    --body-color: linear-gradient(to bottom, #DDDBD1, #D2DBDC);
    --body-header-col:  #009688;
    --app-header-col:  #EAEAEA;
    --app-footer-col: #F3EEEA;
    --subinfo-col: #B7B7BA;

    /* measures  */
    --body-header-height: 70px;
    --app-header-height: 50px;

    /* Font size  */
    --fs-sm: 10px;
    --fs-md: 12px;
    --fs-lg: 20px;
}

/* Generics  */
body{
    font-family: 'Lato';
    background: var(--body-color);
    height: 100vh;
}

main{
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;
}

img{
    max-width: 100%;
}

aside{
    border-right: 1px solid #DFDFDF;
    background-color: white;
}

p{
    font-size: var(--fs-md) ;
}

i{
    filter: invert(50%);
    font-size: var(--fs-md);
}


/* Utils  */
.container{
    display: flex;
    width: 70%;
    height: 500px;
    margin: 0 auto;
}

/* Body  */
.body-header{
    background-color: var(--body-header-col);
    height: var(--body-header-height);
}

/* Main  */
.container header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--app-header-col);
    height: var(--app-header-height) ;
    padding: 10px;
}

.contact-field{
    width: 30%;
}
.chat-field{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.container header .left-side{
    display: flex;
    align-items: center;
    gap: 10px;
}

.container header .right-side{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-img{
    height: 30px;
    border-radius: 50%;
}

.subinfo{
    color: var(--subinfo-col);
}

/* Chat body  */
.chat-body{
    background-image: url('./img/mine.png');
    flex-grow: 1;
}

/* Footer  */
.container footer{
    height: var(--app-header-height) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--app-footer-col);
}

#message-input{
    width: 70%;
    height: 60%;
    border: 0;
    padding: 10px;
}