/* Reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* colors  */
    --body-color: linear-gradient(#DDDBD1, #D2DBDC);
    --body-header-col:  #009688;
    --app-header-col:  #EAEAEA;
    --app-footer-col: #F3EEEA;
    --subinfo-col: #B7B7BA;
    --sended-msg-col: #D5F9BA;
    --recieved-msg-col: #ffffff;
    --notification-bg-col: #8DDAFC;
    --active-chat-col: #EAEBEB;
    --hover-chat-col: #EAEBEB;

    /* --measures--  */
    /* Height  */
    --body-header-height: 70px;
    --app-header-height: 50px;

    /* padding  */
    --padding-sm: 10px;
    --padding-md: 20px;
    --padding-lg: 30px;
    --padding-xlg: 50px;

    /* margin  */
    --margin-sm: 10px;
    --margin-md: 20px;
    --margin-lg: 30px;

    /* gap  */
    --gap-sm: 5px;
    --gap-md: 10px;
    --gap-lg: 20px;

    /* Font size  */
    --fs-sm: 10px;
    --fs-md: 12px;
    --fs-lg: 20px;
}

/* Generics  */
body{
    font-family: 'Lato';
    background: var(--body-color);
    height: 100vh;
}

main{
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;
}

img{
    max-width: 100%;
}

aside{
    border-right: 1px solid #DFDFDF;
    background-color: white;
}

p{
    font-size: var(--fs-md) ;
}

i{
    filter: invert(50%);
    font-size: var(--fs-md);
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

input{
    border: 0;
    border-radius: 5px;
}


/* Utils  */
.container{
    display: flex;
    width: 80vw;
    height: 500px;
    margin: 0 auto;
}

.left-side{
    display: flex;
    gap: var(--gap-sm);
}

.active{
    background-color: var(--active-chat-col);
}

/* Body  */
.body-header{
    background-color: var(--body-header-col);
    height: var(--body-header-height);
}

/* Main  */
.container header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--app-header-col);
    height: var(--app-header-height) ;
    padding: var(--padding-sm);
}

/* Contact field  */
.contact-field{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-color: var(--app-header-col);
}

.desktop-notifications{
    display: flex;
    align-items: center;
    background-color: var(--notification-bg-col);
    padding: var(--padding-sm);
}

.notification-icon{
    background-color: white;
    font-size: var(--fs-sm);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: var(--margin-sm);
}  

.notification-icon i{
    -webkit-text-fill-color: var(--notification-bg-col);
    filter: invert(0);
}

.desktop-notifications p{
    font-size: var(--fs-sm);
}

.desktop-notifications a{
    color: gray;
}

.search-chats{
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-chats input{
    width: 80%;
    height: 30px;
    padding: 5px;
}

.contacts-chat{
    flex-grow: 1;
    background-color: white;
    overflow: scroll;
}

.contacts-chat li{
    display: flex;
    justify-content: space-between;
    padding: var(--padding-sm);
    cursor: pointer;
}

.contacts-chat li:hover{
    background-color: var(--hover-chat-col);
}

.contacts-chat .left-side{
    align-items: flex-start;
}

/* Chat field  */
.chat-field{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.container header .left-side{
    align-items: center;
}

.container header .right-side{
    display: flex;
    align-items: center;
    gap: var(--gap-md);
}

.profile-img{
    height: 30px;
    border-radius: 50%;
}

.subinfo{
    color: var(--subinfo-col);
    font-size: var(--fs-sm);
}

/* Chat body  */
.chat-body{
    background-image: url('./img/mine.png');
    flex-grow: 1;
    padding: var(--padding-lg) var(--padding-xlg);
    overflow-x: scroll;
}

.msg{
    width: 40%;
    border-radius: 5px;
    margin-bottom: var(--margin-sm);
    padding: var(--padding-sm) 2px 2px var(--padding-sm);
}

.msg.sent{
    background-color: var(--sended-msg-col);
    align-self: flex-end;
}

.msg.received{
    background-color: var(--recieved-msg-col);
}

.time{
    color: var(--subinfo-col);
    font-size: var(--fs-sm);
    text-align: end;
}

/* chat Footer  */
.container footer{
    height: var(--app-header-height) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--app-footer-col);
}

#message-input{
    width: 70%;
    height: 70%;
    border: 0;
    padding: var(--gap-md);
}